.ce-block__content {
	max-width: 100% !important;
}
.ce-toolbar__content {
	max-width: 100% !important;
}
.codex-editor__redactor {
	padding: 0px !important;
	min-height: 0px;
}
@media (max-width: 650px) {
	.ce-toolbar__actions {
		right: -10px !important;
	}
}
