* {
	margin: 0px;
	padding: 0px;
	outline: 0px;
	box-sizing: border-box;
}
.title {
	color: #34444c;
	text-align: center;
	text-transform: uppercase;
	margin: 1rem 0rem;
}
.title > span {
	color: #ff9800;
}
/* Animated Text */
/* Animation */
#cursor {
	border-left: 0.1em solid black;
	animation: blink 0.7s steps(1) infinite;
}
.progress {
	width: 100%;
	margin-top: 0.5rem;
}
@keyframes blink {
	50% {
		border-color: transparent;
	}
}

/* --------------------- Styled Of Header Components ---------------------- */
.navContainer {
	padding: 10px 0px 10px 0px;
	box-shadow: 0pt 1pt 3pt 1pt #00000035;
	position: fixed;
	/* background: white; */
	background: #364253;
	top: 0px;
	display: block;
	width: 100%;
	z-index: 1300;
	transition: top 0.25s;
}
.brand > h2 {
	text-align: center;
	color: #ffffff;
}

.nav {
	padding: 15px 0px 15px 0px;
}
.nav > ul {
	display: flex;
	list-style: none;
	justify-content: center;
}
.nav > ul > li {
	margin: 0px 15px 0px 15px;
}
.nav > ul > li > a {
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	/* color: #364253c9; */
	color: #e2e4e6;
	padding: 0.5rem 0.5rem;
	/* border-radius: 8px; */
	/* transition: all 0.5s ease 0.25s; */
	transition: all 0.25s;
	display: block;
	min-width: 100px;
	text-align: center;
	/* box-shadow: 0pt 0pt 3pt 0pt #a5a5a5b3; */
	/* font-weight: 600; */
}

.nav > ul > li > a:hover {
	/* box-shadow: 0pt 0pt 0pt 1pt #ff9800; */
	/* color: #151617; */
	color: #ff9800;
	border-bottom: 1px solid #ff9800;
	/* transform: scale(0.95); */
}
.nav > ul > li > a:focus {
	/* color: #403b3b; */
	color: #ff9800;
	box-shadow: 0pt 0pt 0pt 1px #ff9800;
}
.navCirculer {
	display: flex;
	justify-content: space-around;
	border: 1px solid #09090914;
	border-radius: 10px;
	padding: 5px;
}
.navCirculer > span {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	display: inline-block;
	box-shadow: 0pt 0pt 0pt 1px #ff9800d6;
}
.mobileMenuIcon {
	display: none;
}

/* ------------------ Styled Of Footer Components --------------------- */
.footer {
	text-align: center;
	background: #364253;
	color: white;
	padding: 1.5rem 0rem;
	font-family: arial;
	margin-top: 1rem;
}
/* -------------------- Responsive For Re-Design Components */
@media only screen and (max-width: 700px) {
	.nav > ul > li {
		margin: 0px 5px 0px 5px;
	}
}
@media only screen and (max-width: 576px) {
	/* Header Components*/
	.brand {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 5px;
	}
	.mobileMenuIcon {
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: 10px;
		color: #ffffffb5;
	}
	.mobileMenuIcon > svg {
		width: 1.5em;
		height: 1.5em;
		/* color: #404040; */
		color: #ffffff;
	}
	.nav {
		position: relative;
		padding: 0px;
	}
	.nav > ul {
		display: block;
		position: absolute;
		width: 100%;
		border: 1px solid #00000040;
		top: 34px;
		border-radius: 0px 0px 10px 10px;
		/* background: white; */
		background: #283942;
		z-index: 1000;
	}
	.nav > ul > li {
		margin: 0px;
	}
	.nav > ul > li > a {
		border-radius: 0px;
		box-shadow: none;
		padding: 1.5rem 0rem;
		border-bottom: 1px solid #3f51b559;
	}
	.nav > ul > li > a:hover {
		box-shadow: none;
		transform: scale(1);
	}
	.nav > ul > li > a:focus {
		box-shadow: none;
		color: #3f51b5;
	}
	/* Footer Components */
}
